﻿@model BIOD_test.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Hasło</label> 
            <div class="col-md-10">
                @{ 
                    var licznik=0;
                    var flag = false;
                    var lis= new List<int>();
                    foreach(var item in ViewBag.losowanie)
                    {
                        lis.Add(item);
                    }




                    if(1==ViewBag.losowanie[licznik])
                    {
                                    @Html.EditorFor(model => model.haslo_1, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password",@value=" " } })
                            licznik++;
                                    if(licznik==7)
                                    {
                                        licznik = 0;
                                    }
                                }
                                else
                                {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }

                            if (2 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_2, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                            
                    }
                    if (4 == ViewBag.losowanie[licznik])
                    {
                                @Html.EditorFor(model => model.haslo_4, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (5 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_5, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (6 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_6, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (7 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_7, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (8 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_8, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (9 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_9, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (10 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_10, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (11 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_11, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (12 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_12, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (13 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_13, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (14 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_14, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (15 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_15, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (16 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_16, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (17 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_17, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                               
                            }
                            if (18 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_18, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (19 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_19, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />
                                
                            }
                            if (20 == ViewBag.losowanie[licznik])
                            {
                                @Html.EditorFor(model => model.haslo_20, new { htmlAttributes = new { @style = "width:30px", @class = "form-control col-xs-1", @maxlength = "1", @type = "password" } })
                        licznik++;
                        if (licznik == 7)
                        {
                            licznik = 0;
                        }
                    }
                    else
                    {
                                <input type="text" disabled="disabled" class="form-control col-xs-1" style="width:30px" />

                    }

                }

            </div>
        </div>
       

       @Html.Hidden("liczby1", lis[0])
        @Html.Hidden("liczby2", lis[1])
        @Html.Hidden("liczby3", lis[2])
        @Html.Hidden("liczby4", lis[3])
        @Html.Hidden("liczby5", lis[4])
        @Html.Hidden("liczby6", lis[5])
        @Html.Hidden("liczby7", lis[6])

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


