﻿@model BIOD_test.Models.User

@{
    ViewBag.Title = "Registery";
}

<h2>Registery</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control",@id="login" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                @if (TempData["Login"] != null)
                {
                    <div>
                        <p class="text-danger">@TempData["Login"]</p>
                    </div>

                }
            </div>
           
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" > Hasło</label> 
            <div class="col-md-10">
                <input id="haslo" name="haslo" class="form-control" type="password"/>
                @if (TempData["Haslo"] != null)
                {
                    <div>
                        <p class="text-danger">@TempData["Haslo"]</p>
                    </div>

                }
              
            </div>
        </div>

        

      
        <div class="form-group">
            <label class="control-label col-md-2"> </label> 
            <div class="g-recaptcha col-md-10" data-sitekey="6Lc8wzQUAAAAAF2tcFfmnsdZ6gtlPtgKcOWGiqan">
            </div>
           
                @if (TempData["recaptcha"] != null)
                {
                    <div >
                        <p class="text-danger">@TempData["recaptcha"]</p>
                    </div>

                }

                   
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default col-md-10" />
            </div>
        </div>
        </div>
}

<div>
   
</div>
