﻿@model IEnumerable<BIOD_test.Models.Datas>

@{
    ViewBag.Title = "Index";
}

<h2>Witaj, @Session["LoginName"]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.haslo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.haslo)
        </td>
        <td>
                   
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
